.leftheader {
    display: flex;
    flex-direction: row;
}

.leftheader-img {
    cursor: pointer;
    padding-top: 3vw;
    padding-bottom: 1vw;
    height: 13vw;
    border-right: 1vw transparent solid;
}

.leftheader-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-left: 1vw rgba(255, 255, 255, 0.1) double;
    border-bottom: 1.5vw transparent solid;
    padding-top: 3vw;
    padding-left: 0;
    height: 10vw;
}

.leftheader-media-inside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5vw 1vw;
}

.leftheader-media-icon {
    height: 3vw;
    padding: 1vw 0;
}

.leftheader-media-icon-container {
    width: 5vw;
    margin: 0px 0.5vw;
}

.leftheader-media-icon-bigger {
    height: 5vw;
}

