.Overlay {

  }

  .Overlay-over {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(140, 140, 140, 0.9)) fixed;
  }

  .Overlay-header {
      display: flex;
      flex-shrink: 10;
  }
  
  .Overlay-leftHeader {
    margin-top: -10vw;
    background-color: rgba(255, 255, 255, 0.2);
    height: 15vw;
    padding-top: 8vw;
    padding-bottom: 2vw;
    color: darkred;
    text-align: center;
    flex: 2;
  }

  .Overlay-rightHeader {
    margin-top: -10vw;
    background-color: rgba(255, 255, 255, 0.2);
    height: 15vw;
    padding-top: 8vw;
    padding-bottom: 2vw;
    color: darkred;
    text-align: center;
    flex: 1;
  }

  .Overlay-centerHeader {
    z-index: 7;
    flex: 3;
  }